.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: rgba(56, 93, 126, 1);
    .logo {
        margin: 0;
        font-size: 32px;
        font-weight: bold;
    }
    .logoSvg {
        margin: 0px;
        font-size: 32px;
        font-weight: bold;
    }

    .navigation {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    a {
        color: white;

    }
}