.card-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    margin: 20px;
    background-color: #f1f1f1;
    border-radius: 20px;
    font-weight: bold;
    gap: 20px; 
  }


  

  
  .my-form-style {
    display: flex;
    flex-direction: column;
    textarea {
      min-height: 100px;
    }
    
  }

  .my-form-style label {
    display: block; 
  }
  
  .my-form-style input,
  .my-form-style textarea {
    width: 100%; 
  }
  
  
  @media (max-width: 600px) {
    .my-form-style {
      flex-direction: column;
    }
  }
  

  
  @media (max-width: 600px) {
    .my-form-style {
      flex-direction: column;
    }
  }
  
