.sub-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  margin: 20px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 20px;
  align-self:normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-wrap: balance;

}

.img-card {
  align-self:normal;
  border-radius: 20px;
}